footer
  .container
    .footer
      ._main
        .row
          .col-lg-6
            .footer_logo
              +logotype('general/logo', 'png')
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viver ra maecenas accumsan lacus vel facilisis.
          .col-lg-6
            .location
              ._address
                +icon('location')
                p Main Road, Building Name, Country
              ._address
                +icon('email')
                p info@companyname.com
      ._copyright
        p.copy
          | © Company Name 2020. All rights reserved.
        +social