.btn_global
	width max-content
	padding 0 45px
	height 45px
	display flex
	justify-content center
	align-items center
	border-radius 5px
	text-transform uppercase
	background white
	border none
	cursor pointer
	font-weight bold
	box-shadow 1px 1px 2px purple
	transition()
	&:hover
		color baseGrayText
	&:active
		box-shadow 1px 1px 4px baseGrayText
		transform translateY(3px) scale(0.98)