.choose#choose
  .container
    .row
      .col-12
        .choose_title
          h2
            | Choose & Enjoy
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
      .col-lg-4.col-md-12
        .food-item
          ._photo
            +img('content/burger01', 'png', 'food-item')
          ._info
            h3 Lorem ipsum dolor
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, possimus.
            +link_global('#', 'order now')
      .col-lg-4.col-md-12
        .food-item.fix
          ._photo
            +img('content/burger02', 'png', 'food-item')
          ._info
            h3 Lorem ipsum dolor
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, possimus.
            +link_global('#', 'order now')
      .col-lg-4.col-md-12
        .food-item
          ._photo
            +img('content/burger01', 'png', 'food-item')
          ._info
            h3 Lorem ipsum dolor
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, possimus.
            +link_global('#', 'order now')