.discover#discover
  .container
    .discover_slider
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            .discover_slide
              ._info
                span Discover
                h3 Upcoming Events
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
              ._photo
                img(src="static/img/content/swiper01.png" alt="Image Title")
          .swiper-slide
            .discover_slide
              ._info
                span Discover
                h3 Upcoming Events
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
              ._photo
                img(src="static/img/content/swiper02.png" alt="Image Title")
        .swiper-pagination