.nav
  height 100%
  display flex
  align-items center
  justify-content: space-between;
  @media $md-and-smaller
    flex-direction column
    justify-content flex-start
    align-items: flex-end;
  &__item
    font-family titleFont
    font-size 20.83px
    color baseBrown
    @media $md-and-smaller
      width: 100%;
      display: flex;
      justify-content: flex-end;
  &__item:not(:last-child)
    padding-right px(70)
    @media $md-and-smaller
      padding-right: 0;
  &__link
    letter-spacing 2px
    @media $md-and-smaller
      color white
    &:hover
      color baseBrown
      @media $md-and-smaller
        color: white;