.choose
  width 100%
  padding 80px 0 0
  &_title
    width 100%
    display: flex;
    flex-direction column
    justify-content: center;
    align-items: center;
    text-align: center;
    h2
      font-family subFont
      color baseBrown
      font-size 50px
      text-transform: uppercase;
    p
      color baseBrown
      font-size 16.67px
      max-width 78%
      line-height: 1.6;
      padding 15px 0 35px;
.food-item
  width: 100%;
  &__photo
    width 100%
    display flex
    justify-content: center;
  &__image
    width: 100%;
    display: block;
  &__img
    width: 100%;
    height: auto;
  &__info
    width 100%
    display: flex;
    flex-direction column
    justify-content: center;
    align-items: center;
    h3
      font-family: titleFont;
      font-size 37.5px
      color baseBrown
      padding: 15px 0;
    p
      font-size 16.67px
      color baseBrown
      text-align center
      max-width 78%
      padding-bottom: 30px;
    .btn_global
      background-color baseRed
      color white
      font-family: subFont;
      letter-spacing 1.5px
      font-weight: 300;
      border-radius 0;
.fix
  @media $md-and-smaller
    padding-top: 50px;