.reservation
  width: 100%;
  padding 50px 0 180px
  @media $xs-and-smaller
    padding 30px 0 50px
  &_main
    width 100%
    position relative
    &__image
      display block
      position absolute
      top -160px
      left -150px
      @media $lg-and-smaller
        left -200px
      @media $md-and-smaller
        left -250px
        top 100px
      @media $xs-and-smaller
        display none
    &__image:last-child
      top 0
      left initial
      right -350px
      @media $lg-and-smaller
        right -400px
      @media $md-and-smaller
        right: -460px;
        top 100px
    &__img
      width: 100%;
  &_info
    width 100%
    display: flex;
    flex-direction column
    justify-content: center;
    align-items: center;
    span
      font-size 29.17px
      font-family: titleFont;
      color baseBrown
    h2
      font-size 50px
      font-family: subFont;
      color baseBrown
      text-transform uppercase
      padding-bottom: 90px;
      text-align center
      @media $xs-and-smaller
        font-size 30px
        padding-bottom: 20px;
  &_form
    width 100%
    max-width 70%
    margin 0 auto
    display flex
    justify-content: space-around;
    align-items: center;
    @media $xs-and-smaller
      max-width: 100%;
    .row
      width 100%
.form_item
  width: 100%;
  display flex
  flex-direction column
  justify-content: flex-start;
  align-items: center;
  &__btn
    width: 100%;
  &__label
    width 100%
    border-color red
    padding-bottom 10px
  &__input
    width 100%
    border 2px solid #bebebe
    border-radius 5px
    color baseGrayText
    font-family: titleFont;
    font-size 20.83px
    padding: 10px;
    &::placeholder
      color color rgba(255,255,255,0.5)
  .btn_global
    width 100%
    background-color baseRed
    font-family subFont
    font-size 20.83px
    align-items: center;
    color white
    letter-spacing 1.5px
    font-weight 300
    @media $xxs-and-smaller
      font-size 16px